<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>部門管理</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: #e3dede;">
    <div class="container mt-5">
        <h1 class="text-center">部門情報</h1>
        <form action="/department/submit" method="post" class="mt-4">
            <div class="form-group">
                <label for="name">部門名:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">送信</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>