<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>メニュー</title>
    <!-- BootstrapのCSSを読み込み -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- カスタムスタイルシートを読み込み -->
    <link href="css/custom.css" rel="stylesheet">
</head>
<body style="background-color: #e3dede;">
    <div class="container mt-5">
        <!-- ページのタイトル -->
        <h1 class="text-center">メニュー</h1>
        <div class="list-group mt-4">
            <!-- ユーザーフォームへのリンク -->
            <a href="/user" class="list-group-item list-group-item-action">ユーザーフォーム</a>
            <!-- 部門フォームへのリンク -->
            <a href="/department" class="list-group-item list-group-item-action">部門フォーム</a>
        </div>
    </div>
    <!-- jQueryを読み込み -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Popper.jsを読み込み -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <!-- BootstrapのJavaScriptを読み込み -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
